<%- include('./partials/header.ejs'); %>
<link rel="stylesheet" href="/styles/landing.css">
<div id="header">
  <div id="navbar">
    <img id="header_logo" src="/logo_white.svg" alt="" width="129" height="56">
    <% if ( !currentUser ) { %>
      <div id="login_navigation_btn">
        <i class="fa-solid fa-fw fa-arrow-right-to-bracket navbar_icon"></i>
      </div>
    <% } %>
  </div>
</div>
<div id="main">
  <div id="main_left">
  </div>
  <div id="main_center">
    <a id="quick_order_submit" href="/shop"><%= strings.get('ORDER')[ language ] %></a>
    <div id="menu_preview_container">
      <div id="categories_preview">
        <p id="categories_title"><%= strings.get('CHOOSE_BETWEEN')[ language ] %> <%= categories.length %> <%= strings.get('CATEGORIES_OF_PRODUCTS')[ language ] %></p>
        <div id="categories_preview_list">
          <% for ( const category of categories ) { %>

            <p class="product_category_preview_name"><%= category.name %></p>
  
          <% } %>
        </div>
      </div>
    </div>
    <!-- <button id="quick_order_btn">Quick Order</button> -->
    <div id="popular_products">
      <p  id="popular_products_title"><%= strings.get('POPULAR_PRODUCTS')[ language ] %></p>
      <div id="popular_products_list">
        <% for ( const product of products ) { %>

          <p class="popular_product"><%= product.name %></p>
  
        <% } %>
      </div>
    </div>
  </div>
  <div id="main_right">
  </div>
</div>
<div id="footer">
  <p class="copyright">© 2022 Efood</p>
</div>

<%- include('./partials/rootClose.ejs'); %>

<%- include('./partials/scripts.ejs'); %>

<% if ( currentUser ) { %>

<script>

  window.user = {};
  window.user.id = "<%- currentUser._id %>"
  window.user.username = "<%- currentUser.username %>"
  window.user.isLoggedIn = true;

  const isLoggedIn = window.user.isLoggedIn;

</script>

<% } %>

<script type="module" src="/scripts/controllers/index.js"></script>

<%- include('./partials/footer.ejs'); %>