<%- include('../partials/header.ejs'); %>
<div id="header">
  <%- include('../partials/navbar.ejs'); %> 
  <div id="products_search_container">
    <!-- <input type="text" placeholder="Search products" id="search_products_input">
    <i id="orders_back_btn" class="fas fa-arrow-left hidden"></i> -->
    <!-- <i id="order_back_btn" class="fas fa-arrow-left hidden"></i> -->
  </div>
</div>
<div id="main">
  <div id="main_left">

  </div>
  <div id="main_center">
    <input type="text" class="hidden" value="" placeholder="Search products" id="search_products_input">
  </div>
  <div class="hidden" id="main_right">
    
  </div>
  <div id="cart_btn_container"  class="hidden">
    <i id="cart_btn" class="fa-solid fa-shopping-basket"></i>
  </div>
  <div id="categories_btn_container" class="hidden">
    <i id="categories_btn" class="fa-solid fa-fw fa-bars-progress"></i>
    <p id="categories_btn_label">categories</p>
  </div>
  <div id="loading" class="is_loading"> 
    <img id="loading_logo" src="/loading_logo.svg" alt="" width="229" height="156">
  </div>
  <div id="top_progress_bar">
    <div id="top_progress"></div>
  </div>
</div>
<div id="footer" class="hidden">
  <p class="copyright">© 2022 Fotis Pozoglou</p>
</div>

<%- include('../partials/rootClose.ejs'); %>

<%- include('../partials/scripts.ejs'); %>

<% if ( currentUser ) { %>

<script>

  window.user = {};
  window.user.id = "<%= currentUser._id %>"
  window.user.username = "<%= currentUser.username %>"
  window.api_token = "<%= csrfToken %>"
  window.token = "<%= currentUser.token %>"
  window.user.info = '<%- JSON.stringify({ name: currentUser.name, phone: currentUser.phone, address: currentUser.address, floor: currentUser.floor }) %>';
  window.user.isLoggedIn = true;

  const isLoggedIn = window.user.isLoggedIn;

  localStorage.setItem('lang', "<%= language %>");

</script>

<% } %>

<script>

  window.app = '<%- JSON.stringify( app ) %>';

  window.app = JSON.parse( window.app );

</script>

<script type="module" src="/scripts/controllers/shop.js"></script>

<%- include('../partials/footer.ejs'); %>